.conteudo_principal {
    padding-top: 150px !important;
   

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;   
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        margin-bottom: 1%;
        
    }
}

.container_principal {
    display: flex;
    margin: 40px;
}

.container_cadastro { 
    width: 45%;
    margin: auto;
    margin-left: 17%;
    margin-right: 1%;
    border-radius: 8px 8px 8px 8px;
    padding: 0.5% 1% 0.5% 1%;

    background-color: #3f3e3e63;
    color: #fff;
    box-shadow: 0px 4px 15px rgba(4, 4, 4, 4.3), 0px 0px 10px rgba(2, 2, 2, 2.3);
}

.container_mapa { 
    width: 70%;
    margin: auto;
    margin-left: 5%;
    margin-right: 8%;
    border-radius: 8px 8px 8px 8px;
    padding: 0.5% 1% 0.5% 1%;

    background-color: #00000000;
    color: #fff;
}

.legenda_principal {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 1px;
}

.legenda_secundaria {
    font-weight: 100;
    font-size: 16px;
}

.row {
    margin-bottom: 15px;
}

.comentario {
    margin-bottom: 15px !important;
}

#map {
    width: 80%;   /* O mapa ocupará 100% da largura disponível */
    height: 390px; /* A altura do mapa será de 400px */
    border-radius: 64px;
    box-shadow: 0px 4px 15px rgba(4, 4, 4, 4.3), 0px 0px 10px rgba(2, 2, 2, 2.3);
}   