.cabecalho {
    display: flex;
}

.logo {
    width: 200px;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.menu_itens {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 925px;
    background-color: #ff7b00;

    height: 88px;
    top: 78px;
    left: 515px;
    gap: 0px;
    border-radius: 0px 0px 10px 10px;
    opacity: 0px;
    margin-bottom: 0;
    margin-top: 30px;
}

.menu_itens li a {
    text-decoration: none;
    color: #fff;
    font-weight: 100;
}

.home_label {
    font-weight: 600 !important;
}


.botao_1 {
    padding: 10px 20px 10px 20px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #ff7b00;

    background-color: #ff7b00;
    font-weight: 500;
    color: #fff;
}

.botao_2 {
    padding: 10px 20px 10px 20px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #ff7b00;
    opacity: 0px;

    font-weight: 500;
    color: #ff7b00;
}



.conteudo_principal {
    background-image: url('../images/images/background/body_backgroud.png');
    width: 100%;
    position: absolute;
    top: 73px;
    z-index: -1;
}

.container_conteudo_principal {
    padding-left: 160px;
    width: 90%;
    margin-top: 150px;
}