/* PAGINA */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@keyframes slideUpFadeIn {
    0% {
        opacity: 0; 
        transform: translateY(30px); 
    }
    100% {
        opacity: 1; 
        transform: translateY(0); 
    }
}

 
body {
    animation: slideUpFadeIn 0.7s ease-out; 
}

.cabecalho {
    display: flex;
    height: 100%;
}

.logo {
    width: 90%;
    height: 100%;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.menu_itens {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 925px;
    background-color: #ff7b00;
    z-index : 11;
    height: 88px;
    top: 78px;
    left: 515px;
    gap: 0px;
    border-radius: 12px 12px 12px 12px;
    margin-bottom: 0;
    margin-top: 30px;
    
}



.menu_itens li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 100;
    padding: 10px 15px;  /* Adiciona um pouco de espaço para o efeito de hover */
    display: inline-block;  /* Para garantir que o efeito ocupe todo o item */
    border-radius: 8px 8px 8px 8px;
    transition: background-color 0.3s ease;  /* Suaviza a transição */
}

.menu_itens li a:hover {
    border: 1px solid #ffffff;
    background-color: rgb(0, 0, 0); 
    transform: translateY(1px); 
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); 
}


.conteudo_principal {
    background-image: url('../images/images/background/body_backgroud.png');
    width: 100%;
    z-index: 10;
    padding-bottom: 60px;
    margin-top: -90px;
    padding-top: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.container_conteudo_principal {
    margin: auto;
    width: 100vh;
}

.subtitulo {
    font-weight: 450;
}

.titulo {
    
    width: 60%;
    font-size: 400%;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}




/* RODAPE */

.rodape {
    background: #2D3E4E;
    font-family: 'Poppins', sans-serif;
    padding-top: 1%;
    /* transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; */
    /* text-decoration: none; */
}

.rodape p:hover {
    color: #ff7b00; /* Mudança de cor */
    transform: translateY(3px);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.rodape a {
    text-decoration: none;
}


.container_rodape {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 70%;
}

.titulo_rodape {
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.links {
    p {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1%;
        a {
            color: #999;
            text-decoration: none;
        }
        a:hover {
            color: #ff7b00;
            transform: translateY(3px);
            transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
        }
    }
}

.contatenos {
    text-decoration: none;
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
        color: #999;
    }

    a {
        text-decoration: none;
    }
}

.titulo_contatenos {
    padding-bottom: 7%;
}

.titulo_siganos {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.siganos_imgs {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    gap: 50%;

    img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        transition: transform 0.4s ease-out, box-shadow 0.4s ease-out;
    }

    img:hover {
        transform: scale(1.1); /* Aumento suave da imagem */
        box-shadow: 0px 0px 15px #ff7b00; /* Sombra laranja suave */
        transition-delay: 0.6s; /* Atraso leve para o início da transição */
        transform: translateY(-3px);
        transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    }
    
}

.siganos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 15%;
}

.titulo_cima {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}




/* COMPONENTES */
.botao_1 {
    padding: 30px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #ff7b00;
    font-family: 'Poppins', sans-serif;
    background-color: #ff7b00;
    font-weight: 500;
    color: #fff;
}

.botao_1 a,
.botao_2 a {
    text-decoration: none;
    color: #fff;
}

.botao_1:hover {
    background-color: #000000; /* Mudança de cor */
    transform: translateX(3px); /* O botão sobe */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.90); /* Sombra suave ao passar o mouse */
}

button {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:active {
    transform: translateY(1px); /* Efeito de "pressionamento" */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); /* Sombra mais sutil no clique */
}

.icon {
    display: none;
}

.fechar_menu {
    display: none;
}

@media only screen and (max-width: 1200px) { 
    .cabecalho {
        margin-left: 5%;
        margin-right: 5%;
    }

    .menu_itens {
        display: none;
    }

    .menu_itens_responsivo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 925px;
        background-color: #ff7b00;
        z-index : 11;
        height: 88px;
        top: 78px;
        left: 515px;
        gap: 0px;
        border-radius: 12px 12px 12px 12px;
        margin-bottom: 0;
        margin-top: 30px;
    }
    
    .menu_itens_responsivo li a {
        text-decoration: none;
        color: #ffffff;
        font-weight: 100;
        padding: 10px 15px;  /* Adiciona um pouco de espaço para o efeito de hover */
        display: inline-block;  /* Para garantir que o efeito ocupe todo o item */
        border-radius: 8px 8px 8px 8px;
        transition: background-color 0.3s ease;  /* Suaviza a transição */
    }
    
    .menu_itens_responsivo li a:hover {
        border: 1px solid #ffffff;
        background-color: rgb(0, 0, 0); /* Laranja */    
        transform: translateY(1px); /* Efeito de "pressionamento" */
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); /* Sombra mais sutil no clique */
    }
    
    .menu_itens_responsivo {
        display: block;
        position: absolute;
        top: 5%;
        left: 0;
        right: 0; 
        bottom: 0;
        width: 100vw;
        height: 300px;
        margin-top: 0;
        background-color: #ff7b00;
        margin-left: 9%;
        text-align: center;
    }

    .icon {
        width: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
        color: #000000;
        text-decoration: none;
        font-size: 50px;
    }

    .fechar_menu {
        color: #fff; 
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 3%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        text-decoration: none;
        background-color: #2D3E4E;
    }
}


@media only screen and (max-width: 768px) {

    .conteudo_principal {
        padding-top: 120px;
    }

    .titulo {
        font-size: 200%;
    }
}